############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Build Artifacts
############

# extension zip
*.zip

############
## OS X
############

.DS_Store
